/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/00soportes/credenciales.md
/00soportes/client_secret_225159513497-sldajj7g84bqbkohfn3bga7j32dm3frn.apps.googleusercontent.com.json
